@page
@model TechLap.Razor.Pages.ChatModel
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}

<div>
    <input type="text" id="userInput" placeholder="Enter your name" />
    <input type="text" id="messageInput" placeholder="Enter a message" />
    <button id="sendButton">Send</button>
</div>

<ul id="messagesList"></ul>