@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="display: flex; justify-content: center; height: 60.5vh; text-align: center;">
    <div>
        <h1>Welcome to TechLap</h1>
        <p>TechLap is a premium technology retail platform, providing the best modern laptop products and accessories on the market. We are committed to providing customers with an easy, safe and trustworthy online shopping experience.</p>
    </div>
</div>
